@use "sass:math";

@each $key, $val in $positions
{
    @if ($key != center)
    {
        .f-#{$key}
        {
            float: $val;
        }
    }

    @for $i from 1 through 10
    {
        .m-#{$key}-#{$i}
        {
            $v: #{$i}px;
            @if ($i != 1)
            {
                $v: #{$i * 10}px;
            } 

            @if ($val == right)
            {
                margin: 0 $v 0 0;
            }
            @else if ($val == bottom)
            {
                margin: 0 0 $v 0;
            }
            @else if ($val == top)
            {
                margin: $v 0 0 0;
            }
            @else if ($val == left)
            {
                margin: 0 0 0 $v;
            }
        }

        .p-#{$key}-#{$i}
        {
            $v: percentage($i * 5 / 100);

            @if ($val == right)
            {
                padding-right: $v;
            }
            @else if ($val == bottom)
            {
                padding-bottom: $v;
            }
            @else if ($val == top)
            {
                padding-top: $v;
            }
            @else if ($val == left)
            {
                padding-left: $v;
            }
        }
    }
}

@each $key, $val in $sizes
{
    @for $i from 1 through 5
    {
        .#{$key}-#{$i}
        {
            width: $val * math.div($i , 2);
        }
    } 
}