body {
  background-color: $backgroundColor;
  height: 100vh;
  max-width: 480px;
  margin: auto;
}

.block {
  display: flex;
  justify-content: center;

  h1 {
    color: $mint;
  }

  h2 {
    color: white;
  }
}

.form
{
    margin-bottom: 25px;
}

.input {
  display: flex;
  justify-content: center;
  input {
    width: 75%;
    background-color: grey;
    border: solid 3px $mint;
    border-radius: 5px;
    height: 30px;
  }
}

.btn {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  margin: auto;

  button {
    background-color: $blue;
    border-radius: 5px;
    width: 75px;
    height: 30px;
    color: white;
  }
}

.list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .todo {
    display: flex;
    width: 75%;
    height: 35px;
    border: solid 2px white;
    border-radius: 5px;

    .start {
      display: flex;
      margin-right: 0;
      p {
        margin-right: 0;
        margin-top: 8px;
        color: white;
        padding: 0 5px;
      }

      img {
        width: 25px;
        height: 25px;
        margin-right: 0;
        margin-top: 5px;      
        padding: 0 5px;
      }
    }
  }
}

.end {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 15px;

  button
  {
    margin-top: 5px;
    margin-right: 5px;

    width: 25px;
    height: 25px;
  }
}
