@mixin btn($color)
{
    border-radius: $border-radius;
    width: 150px;
    height: 50px;
    border: solid $border-size lighten($color, 15%)
}

@mixin card-base($color: grey, $size: 100%)
{
    border: solid $border-size lighten($color, 75%);
    border-radius: $border-radius;
    width: $size;
    background-color: $color
}

@each $key, $val in $colors
{
    .btn-#{$key}
    {
        @include btn($val);
        background-color: $val;
    }

    @each $k, $v in $sizes
    {
        .card-#{$key}-#{$k}
        {
            display: block;
            @include card-base( $val, $v);
        }

        @each $_k, $_v in $sizes
        {
            .card-#{$key}-#{$k}-#{$_k}
            {
                display: block;
                @include card-base( $val, $v);
                height: ($_v / 100%) * 100vh;
            }
        }
    }
}



