$colors:
(
    "red": #FF0000,
    "green": #00FF00,
    "blue": #0000FF
);

$sizes:
(
    "xs": 15%,
    "sm": 25%,
    "md": 50%,
    "lg": 75%,
    "xl": 100%
);

$positions:
(
    "l": left,
    "r": right,
    "t": top,
    "b": bottom
);


$border-size: 3px;
$border-radius: 5px;