@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.woff") format("woff");
}
@-webkit-keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
@-webkit-keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
body {
  margin: 0;
}

.divider {
  background-color: rgb(69, 52, 191);
  margin: 0 -15px;
  border: solid 2px rgb(69, 52, 191);
  height: 70%;
}

.navbar {
  background-color: rgb(102, 59, 217);
  height: 44px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.navbar a {
  color: white;
  text-decoration: none;
  height: 44px;
  font-family: "Roboto-Regular";
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.navbar a:hover {
  border-bottom: solid 3px white;
  transition: all 0.1s ease-in-out 0s;
}
.navbar a .logo {
  width: 35px;
  height: 35px;
}
.navbar a .patreon {
  width: 120px;
  margin-left: 10px;
}
.navbar a .patreon:hover {
  border-bottom: solid 3px rgb(102, 59, 217);
}
.navbar a .settings {
  width: 45px;
  height: 45px;
}

.download-section {
  background-color: rgb(69, 52, 191);
  background-image: url("/assets/images/hero-main.png");
  background-size: 50%;
  background-position: 100% 160%;
  background-repeat: no-repeat;
}

.infos {
  color: white;
  font-family: "Roboto-Regular";
  padding-top: 10%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 500px;
}
.infos h1 {
  font-size: 50px;
  margin-bottom: 0;
}
.infos h2 {
  font-size: medium;
  font-weight: 50;
}
.infos .dowload-btn {
  width: 225px;
  height: 50px;
  border-radius: 25px;
  font-family: "Roboto-Regular";
  font-size: larger;
  font-weight: bolder;
  color: black;
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  justify-content: space-around;
  transform: translateY(2rem);
}
.infos .dowload-btn .os {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}
.infos .dowload-btn .arch {
  width: 55px;
  height: 30px;
  background-color: #1ABC9C;
  border-radius: 25px;
  color: white;
  text-align: center;
  margin: 0 5px;
  padding: 5px 8px 0 8px;
}
.infos .dowload-btn:hover {
  background-color: #1ABC9C;
  color: white;
  transition: background-color 500ms;
}
.infos .dowload-btn:hover .arch {
  background-color: white;
  color: #1ABC9C;
  transition: background-color 500ms;
}

.search-section {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, white, #dad6d6);
  align-items: center;
  height: 150px;
}
.search-section .search-bar {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 5px #dad6d6;
  width: 75%;
  height: 50px;
  display: flex;
  align-items: center;
}
.search-section .search-bar .glass {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
.search-section .search-bar input {
  width: 73%;
  height: 55px;
  border: none;
  border-radius: 30px;
  margin-left: 15px;
  background-color: transparent;
}
.search-section .search-bar input:focus {
  outline: none;
}
.search-section .search-bar input::-moz-placeholder {
  color: black;
  font-family: "Roboto-Regular";
  font-size: 1.25rem;
  font-weight: bold;
  transform: translateY(5px);
}
.search-section .search-bar input:-ms-input-placeholder {
  color: black;
  font-family: "Roboto-Regular";
  font-size: 1.25rem;
  font-weight: bold;
  transform: translateY(5px);
}
.search-section .search-bar input::placeholder {
  color: black;
  font-family: "Roboto-Regular";
  font-size: 1.25rem;
  font-weight: bold;
  transform: translateY(5px);
}
.search-section .search-bar p {
  font-family: "Roboto-Regular";
  font-size: 13px;
  font-weight: bold;
}
.search-section .search-bar .Ani {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.features-section {
  display: flex;
  align-items: center;
  width: 85%;
  margin: auto;
  height: 500px;
  gap: 2rem;
}
.features-section .preview {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 30px 30px 40px #dad6d6;
}
.features-section .desc {
  font-family: "Roboto-Regular";
}
.features-section .desc h2 {
  font-size: 1.65rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 3rem;
}
.features-section .desc h2::before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 5px;
  height: 100%;
  content: "";
  background-color: rgb(69, 52, 191);
  border-radius: 5px;
}
.features-section .desc h2 span {
  padding-left: 10px;
}
.features-section .left-arrow, .features-section .right-arrow {
  width: 75px;
  height: 75px;
}
.features-section .right-arrow {
  transform: rotate(180deg);
}
.features-section .span-left {
  -webkit-animation: moveLeft 1000ms linear 1500ms infinite alternate both;
          animation: moveLeft 1000ms linear 1500ms infinite alternate both;
}
.features-section .span-right {
  -webkit-animation: moveRight 1000ms linear 1500ms infinite alternate both;
          animation: moveRight 1000ms linear 1500ms infinite alternate both;
}

.features-label {
  font-family: "Roboto-Regular";
  font-weight: bold;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #625FDA, rgb(69, 52, 191));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.features-label h1 {
  margin-bottom: 15px;
}
.features-label .Vdivider {
  width: 50px;
  height: 5px;
  border-radius: 15px;
  background: linear-gradient(to right, #625FDA, rgb(69, 52, 191));
}/*# sourceMappingURL=styles.css.map */